@charset "UTF-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
}
.cs_sidetitle{
	margin-top: 30px;
	font-size: 24px;
}
.cs_sidecontent{
	margin: 3% 5% 0 5%;
	border-top: solid 2px #000000;
	border-bottom: solid 2px #000000;
}
.cs_sidecontent li{
	list-style: none;
	padding:5% 0;
	color: #333333;
	border-bottom: solid 1px #aaaaaa;
	font-size:15px;
}