@charset "UTF-8";

.bgcolor{
	width:100%;
	max-height:720px;
	background-color: #cfeffa;	 
/*	text-align: center;	*/
}
.menubox{
	padding: 10% 0;
}

.carousel-item img {
	width:100%;
	text-align: center;
}
.select_local{
	z-index: 100;	/* 위쪽으로 올라울 우선 순위 레벨 */
	background-color:#ffffff;
	width: 700px; 
	height : 550px;
	display: none; /* main.js - selectlocal()를 통해 block <-> none으로 변경됨 */ 
	position: absolute;
	border:solid 1px red;
}
.select_local.show{
	display:block;
}
#select_local span{
	margin:0 auto;
	text-align:center;
	border: soild 1px black;
	overflow-y:scroll;	/* div 내 내용이 세로 길이를 초과하면 스크롤바가 생성됨. */
}

#travel_list{
	list-style: none;
}
#travel_list li{
	cursor: pointer;
	padding: 5% 0 5% 5%;
	background-color: #f7f7f7; 
	border:solid 1px #dddddd;
}
.selected{
	background-color: white !important;
	color:#a22bb8 !important;
}
#selected_travel{
	list-style: none;
}